/APIKey.json
/update.bat
/venv/
/weatherLogs.txt
/modules/Caches/
/WeatherServer/clientAuth.json
/update_commands.command

/modules/Configs/Monkey.json
/screenshot.png
/Update.py
/Get_Clearpass_IP.py
